<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <nav class="topnav">
      <a class="active" href="#home">Home</a>
      <a class="active" href="#home">Dashboard</a>
      <a class="active" href="#home">Logout</a>
    </nav>
    <header>
      <h1>Your Dashboard</h1>
    </header>

      <main>
        {{{body}}}
      </main>
    </div>
  </body>

</html>