<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <nav>
          <ul>
            <li>Home</li>
            <li>Dashboard</li>
            <li>Login</li>
          </ul>
        </nav>
        <h1>The Tech Blog</h1>
      </header>

      <main>
        {{{body}}}
      </main>
    </div>
  </body>

</html>