<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <nav class="topnav">
      <a class="active" href="/">Home</a>
      <a class="active" href="/Dashboard">Dashboard</a>
      {{#if logged_in}}
        <a class="active" href="#">logout</a>
      {{else}}
        <a class="active" href="/login">login</a>
      {{/if}}
    </nav>
    <header>
      <h1>The Tech Blog</h1>
    </header>
      <main class="container container-fluid mt-5">
     {{{ body }}}
      </main>
  </div>
  </body>

</html>