<div class="blogpost-card">
  <div class="blogpost-card-header">
    <!-- Below we are rendering one blogpost using a Handlebars.js expression -->
    {{blogpost_title}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{blogpost_text}}
    </p>
    <p>
      Guest:
      {{blogpost_text}}
    </p>
  </div>
</div>