
<section class="postbox">
  <a href="/posts/{{id}}">
    <header>{{post_title}}</header>
    <p>{{posts.[0].author}}"</p>
</section>

<div>
  <h2></h2>
  <div>
    <form>
      <div>
        <label for="comment">Comment:</label>
        <input class="form-input" type="text" id="new-comment" />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/comment.js"></script>