<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="blogpost-container">
  <div class="card-header col-md-10">
    <h2>
      All Blogposts
    </h2>
  </div>
  <!-- We implement the built-in helper, #each. This helper will iterate over blogposts -->
  {{#each blogposts as |blogpost|}}
    {{> Blogpost-details}}
  {{/each}}

  <div class="add-blogpost-container">
    <h2>
      Add your own blogpost!
    </h2>
    <form class="new-blogpost-form">
      <label for="blogpost_title">
        Title:
      </label>
      <br />
      <textarea id="blogpost_title" name="blogpost_title" rows="1" cols="50">
        {{blogpost_title}}
      </textarea>
      <br />
      <label for="blogpost_text">
        Post:
      </label>
      <br />
      <textarea id="blogpost_text" name="blogpost_text" rows="5" cols="50">
        {{blogpost_text}}
      </textarea>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>



<article class="card">
<header><h2>Login</h2></header>
<form class="login-form">
<div>
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
   <div>
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
   <div>
      <button type="submit">login</button>
    </div>
    <div>
      <a href="#">Sign up instead</a>
    </div>
    <div>
</form>
</article>









<article class="card">
  <header><h2>Sign Up</h2></header>
  <form class="signup-form">
    <div>
      <label for="username-signup">Username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">Email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">Sign Up!</button>
    </div>
    <div>
      <a href="#">Login instead</a>
    </div>
  </form>
</article>



<!-- This is the form for adding a new dish -->
<script src="/js/add-blogpost.js"></script>