<article class="card">
  <header><h2>Login</h2></header>
  <form class="login-form">
    <div>
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">login</button>
    </div>
    <div>
      <a href="#">Sign up instead</a>
    </div>
  </form>
</article>

<script src="./js/login.js"></script>